@page
@model BAIS3130.Pages.RegisterModel
@{
}

<h1>Record Membership Application</h1>
<form  method="post">
    <table>
        <tr>
            <td>
                First Name:
            </td>
            <td>
                <input type="text" asp-for="FirstName" value="" required/>
                <span asp-validation-for="FirstName"></span>
            </td>
        </tr>
        <tr>
            <td>
                Last Name:
            </td>
            <td>
                <input type="text" asp-for="LastName" value="" required/>
                <span asp-validation-for="LastName"></span>
            </td>
        </tr>
        <tr>
            <td>
                Phone:
            </td>
            <td>
                <input type="text" asp-for="Phone" value="" required/>
                <span asp-validation-for="Phone"></span>
            </td>
        </tr>
        <tr>
            <td>
                Address:
            </td>
            <td>
                <input type="text" asp-for="Address" value="" required/>
                <span asp-validation-for="Address"></span>
            </td>
        </tr>
        <tr>
            <td>
                PostalCode:
            </td>
            <td>
                <input type="text" asp-for="PostalCode" value="" required/>
                <span asp-validation-for="PostalCode"></span>
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <input type="email" asp-for="Email" value="" required/>
                <span asp-validation-for="Email"></span>
            </td>
        </tr>
        <tr>
            <td>
                AlternatePhone:
            </td>
            <td>
                <input type="text" asp-for="AlternatePhone" value="" />
                <span asp-validation-for="AlternatePhone"></span>
            </td>
        </tr>
        <tr>
            <td>
                DateOfBirth:
            </td>
            <td>
                <input type="date" asp-for="DOB" value="" required/>
                <span asp-validation-for="DOB"></span>
            </td>
        </tr>
        <tr>
            <td>
                Signature:
            </td>
            <td>
                <input type="text" asp-for="Signature" value="" />
                <span asp-validation-for="Signature"></span>
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 1 Name:
            </td>
            <td>
                <input type="text" asp-for="Shareholder1Name" value="" />
                <span asp-validation-for="Shareholder1Name"></span>
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 1 Signature:
            </td>
            <td>
                <input type="text" asp-for="Shareholder1Signature" value="" />
                <span asp-validation-for="Shareholder1Signature"></span>
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 2 Name:
            </td>
            <td>
                <input type="text" asp-for="Shareholder2Name" value="" />
                <span asp-validation-for="Shareholder2Name"></span>
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 2 Signature:
            </td>
            <td>
                <input type="text" asp-for="Shareholder2Signature" value="" />
                <span asp-validation-for="Shareholder2Signature"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>
</form>