@page
@model BAIS3130.Pages.RegisterModel
@{
}

<h1>Register</h1>
<form  method="post">
    <table>
        <tr>
            <td>
                First Name:
            </td>
            <td>
                <input type="text" name="FirstName" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Last Name:
            </td>
            <td>
                <input type="text" name="LastName" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Phone:
            </td>
            <td>
                <input type="text" name="Phone" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Address:
            </td>
            <td>
                <input type="text" name="Address" value="" />
            </td>
        </tr>
        <tr>
            <td>
                PostalCode:
            </td>
            <td>
                <input type="text" name="PostalCode" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <input type="email" name="Email" value="" />
            </td>
        </tr>
        <tr>
            <td>
                AlternatePhone:
            </td>
            <td>
                <input type="text" name="AlternatePhone" value="" />
            </td>
        </tr>
        <tr>
            <td>
                DateOfBirth:
            </td>
            <td>
                <input type="date" name="DOB" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Signature:
            </td>
            <td>
                <input type="text" name="Signature" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 1 Name:
            </td>
            <td>
                <input type="text" name="Shareholder1Name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 1 Signature:
            </td>
            <td>
                <input type="text" name="Shareholder1Signature" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 2 Name:
            </td>
            <td>
                <input type="text" name="Shareholder2Name" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 2 Signature:
            </td>
            <td>
                <input type="text" name="Shareholder2Signature" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>
</form>