@page
@model BAIS3130.Pages.RecordTeeTimeScoreModel
@{
}


<h1>Tee Time Score</h1>
<form method="post">
    <table>
        <tr>
            <td>
                Tee Time Number
            </td>
            <td>
                <input type="number" asp-for="TeeTimeNumber" value="" required/>
                <span asp-validation-for="TeeTimeNumber"></span>
            </td>
        </tr>
        <tr>
            <td>
                Slope Rating
            </td>
            <td>
                <input type="number" asp-for="SlopeRating" value="" required/>
                <span asp-validation-for="SlopeRating"></span>
            </td>
        </tr>
        <tr>
            <td>
                Course Rating
            </td>
            <td>
                <input type="number" asp-for="CourseRating" value="" required/>
                <span asp-validation-for="CourseRating"></span>
            </td>
        </tr>
        <tr>
            <td>
                Hole 1 Par
            </td>
            <td>
                <input type="number" name="Hole1Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 1 Score
            </td>
            <td>
                <input type="number" name="Hole1Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 2 Par
            </td>
            <td>
                <input type="number" name="Hole2Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 2 Score
            </td>
            <td>
                <input type="number" name="Hole2Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 3 Par
            </td>
            <td>
                <input type="number" name="Hole3Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 3 Score
            </td>
            <td>
                <input type="number" name="Hole3Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 4 Par
            </td>
            <td>
                <input type="number" name="Hole4Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 4 Score
            </td>
            <td>
                <input type="number" name="Hole4Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 5 Par
            </td>
            <td>
                <input type="number" name="Hole5Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 5 Score
            </td>
            <td>
                <input type="number" name="Hole5Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 6 Par
            </td>
            <td>
                <input type="number" name="Hole6Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 6 Score
            </td>
            <td>
                <input type="number" name="Hole6Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 7 Par
            </td>
            <td>
                <input type="number" name="Hole7Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 7 Score
            </td>
            <td>
                <input type="number" name="Hole7Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 8 Par
            </td>
            <td>
                <input type="number" name="Hole8Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 8 Score
            </td>
            <td>
                <input type="number" name="Hole8Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 9 Par
            </td>
            <td>
                <input type="number" name="Hole9Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 9 Score
            </td>
            <td>
                <input type="number" name="Hole9Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 10 Par
            </td>
            <td>
                <input type="number" name="Hole10Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 10 Score
            </td>
            <td>
                <input type="number" name="Hole10Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 11 Par
            </td>
            <td>
                <input type="number" name="Hole11Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 11 Score
            </td>
            <td>
                <input type="number" name="Hole11Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 12 Par
            </td>
            <td>
                <input type="number" name="Hole12Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 12 Score
            </td>
            <td>
                <input type="number" name="Hole12Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 13 Par
            </td>
            <td>
                <input type="number" name="Hole13Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 13 Score
            </td>
            <td>
                <input type="number" name="Hole13Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 14 Par
            </td>
            <td>
                <input type="number" name="Hole14Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 14 Score
            </td>
            <td>
                <input type="number" name="Hole14Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 15 Par
            </td>
            <td>
                <input type="number" name="Hole15Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 15 Score
            </td>
            <td>
                <input type="number" name="Hole15Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 16 Par
            </td>
            <td>
                <input type="number" name="Hole16Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 16 Score
            </td>
            <td>
                <input type="number" name="Hole16Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 17 Par
            </td>
            <td>
                <input type="number" name="Hole17Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 17 Score
            </td>
            <td>
                <input type="number" name="Hole17Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 18 Par
            </td>
            <td>
                <input type="number" name="Hole18Par" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                Hole 18 Score
            </td>
            <td>
                <input type="number" name="Hole18Score" value="" min="0"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>
</form>