@page
@model BAIS3130.Pages.RecordTeeTimeScoreModel
@{
}


<h1>Tee Time Score</h1>
<form method="post">
    <table>
        <tr>
            <td>
                Tee Time Number
            </td>
            <td>
                <input type="number" name="TeeTimeNumber" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Handicap Index
            </td>
            <td>
                <input type="number" name="HandicapIndex" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope Rating
            </td>
            <td>
                <input type="number" name="SlopeRating" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Course Rating
            </td>
            <td>
                <input type="number" name="CourseRating" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Member Number
            </td>
            <td>
                <input type="number" name="MemberNumber" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 1 Par
            </td>
            <td>
                <input type="number" name="Slope1Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 1 Score
            </td>
            <td>
                <input type="number" name="Slope1Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 2 Par
            </td>
            <td>
                <input type="number" name="Slope2Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 2 Score
            </td>
            <td>
                <input type="number" name="Slope2Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 3 Par
            </td>
            <td>
                <input type="number" name="Slope3Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 3 Score
            </td>
            <td>
                <input type="number" name="Slope3Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 4 Par
            </td>
            <td>
                <input type="number" name="Slope4Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 4 Score
            </td>
            <td>
                <input type="number" name="Slope4Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 5 Par
            </td>
            <td>
                <input type="number" name="Slope5Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 5 Score
            </td>
            <td>
                <input type="number" name="Slope5Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 6 Par
            </td>
            <td>
                <input type="number" name="Slope6Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 6 Score
            </td>
            <td>
                <input type="number" name="Slope6Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 7 Par
            </td>
            <td>
                <input type="number" name="Slope7Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 7 Score
            </td>
            <td>
                <input type="number" name="Slope7Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 8 Par
            </td>
            <td>
                <input type="number" name="Slope8Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 8 Score
            </td>
            <td>
                <input type="number" name="Slope8Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 9 Par
            </td>
            <td>
                <input type="number" name="Slope9Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 9 Score
            </td>
            <td>
                <input type="number" name="Slope9Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 10 Par
            </td>
            <td>
                <input type="number" name="Slope10Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 10 Score
            </td>
            <td>
                <input type="number" name="Slope10Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 11 Par
            </td>
            <td>
                <input type="number" name="Slope11Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 11 Score
            </td>
            <td>
                <input type="number" name="Slope11Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 12 Par
            </td>
            <td>
                <input type="number" name="Slope12Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 12 Score
            </td>
            <td>
                <input type="number" name="Slope12Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 13 Par
            </td>
            <td>
                <input type="number" name="Slope13Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 13 Score
            </td>
            <td>
                <input type="number" name="Slope13Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 14 Par
            </td>
            <td>
                <input type="number" name="Slope14Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 14 Score
            </td>
            <td>
                <input type="number" name="Slope14Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 15 Par
            </td>
            <td>
                <input type="number" name="Slope15Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 15 Score
            </td>
            <td>
                <input type="number" name="Slope15Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 16 Par
            </td>
            <td>
                <input type="number" name="Slope16Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 16 Score
            </td>
            <td>
                <input type="number" name="Slope16Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 17 Par
            </td>
            <td>
                <input type="number" name="Slope17Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 17 Score
            </td>
            <td>
                <input type="number" name="Slope17Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 18 Par
            </td>
            <td>
                <input type="number" name="Slope18Par" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Slope 18 Score
            </td>
            <td>
                <input type="number" name="Slope18Score" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>
</form>