@page
@model BAIS3130.Pages.ScheduleStandingTeeTimeModel
@{
}

<form method="post">
    <table>
        <tr>
            <td>
                Member Number:
            </td>
            <td>
                <input type="number" name="MemberOne" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Member Number:
            </td>
            <td>
                <input type="number" name="MemberTwo" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Member Number:
            </td>
            <td>
                <input type="number" name="MemberThree" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Start Date:
            </td>
            <td>
                <input type="date" name="StartDate" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Requested Tee Time:
            </td>
            <td>
                <input type="time" name="RequestedTime" value="" />
            </td>
        </tr>
        <tr>
            <td>
                End Date
            </td>
            <td>
                <input type="date" name="EndDate" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Schedule Standing Tee Time" />
            </td>
        </tr>
    </table>
    @Model.Message
</form>