@page
@model BAIS3130.Pages.ScheduleTeeTimeModel
@{
    ViewData["Title"] = "Schedule Tee Time";
}


<form method="post" name="ScheduleTeeTime">
    <table>
        <tr>
            <td>
                Desired Date:
            </td>
            <td>
                <input type="date" asp-for="DesiredDate" value="" />
                <span asp-validation-for="DesiredDate"></span>
            </td>
        </tr>
        <tr>
            <td>Desired Time:</td>
            <td>
                <input type="time" asp-for="DesiredTime" value="12:00" />
                <span asp-validation-for="DesiredTime"></span>
            </td>
        </tr>
        <tr>

            <td>Group Member One:</td>
            <td>
                <input type="number" name="MemberOne" value="" />

            </td>
        </tr>
        <tr>
            <td>

                Group Member Two:
            </td>
            <td>
                <input type="number" name="MemberTwo" value="" min="0" />

            </td>
        </tr>
        <tr>
            <td>

                Group Member Three:
            </td>
            <td>
                <input type="number" name="MemberThree" value="" min="0" />

            </td>
        </tr>
        <tr>
            <td>Number of carts:</td>
            <td>
                <input type="number" asp-for="Carts" value="" max="4" min="0" />
                <span asp-validation-for="Carts"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Sumbmit" value="Schedule Tee Time" />
            </td>
        </tr>
    </table>
    @Model.Message
</form>