@page
@model BAIS3130.Pages.ScheduleStandingTeeTimeModel
@{
}

<form method="post">
    <table>
        <tr>
            <td>
                Member Number:
            </td>
            <td>
                <input type="number" asp-for="MemberOne" value="" />
                <span asp-validation-for="MemberOne"></span>
            </td>
        </tr>
        <tr>
            <td>
                Member Number:
            </td>
            <td>
                <input type="number" asp-for="MemberTwo" value="" />
                <span asp-validation-for="MemberTwo"></span>
            </td>
        </tr>
        <tr>
            <td>
                Member Number:
            </td>
            <td>
                <input type="number" asp-for="MemberThree" value="" />
                <span asp-validation-for="MemberThree"></span>
            </td>
        </tr>
        <tr>
            <td>
                Start Date:
            </td>
            <td>
                <input type="date" asp-for="StartDate" value="" />
                <span asp-validation-for="StartDate"></span>
            </td>
        </tr>
        <tr>
            <td>
                Requested Tee Time:
            </td>
            <td>
                <input type="time" asp-for="RequestedTime" value="" />
                <span asp-validation-for="RequestedTime"></span>
            </td>
        </tr>
        <tr>
            <td>
                End Date
            </td>
            <td>
                <input type="date" asp-for="EndDate" value="" />
                <span asp-validation-for="EndDate"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Schedule Standing Tee Time" />
            </td>
        </tr>
    </table>
</form>