@page
@model BAIS3130.Pages.ViewHandicapModel
@{
}

<form method="post">
    <table>
        <tr>
            <td>Member Number</td>
            <td>
                <input type="number" asp-for="MemberNumber" value="" required/>
                <span asp-validation-for="MemberNumber"></span>
            </td>
        </tr>
        <tr>
            <td><input type="submit" name="Submit" value="Submit" /></td>
        </tr>
    </table>
</form>
<h2>@Model.Handicap</h2>